 // responsive
$fix-width: 1440px;
$menu-width: 1120px;
$laptop-width: 1400px;
$surface-width: 912px; 
// $ipad-width: 820px; 
$mobile-width: 720px; 

    //laptop
@mixin laptop { @media (min-width: #{$surface-width + 1px}) and (max-width: #{$laptop-width}) {     
    @content;   
    } 
} 

    // fix
@mixin fix { @media (min-width: #{$fix-width}) {     
    @content;   
    } 
} 


    //menu
@mixin menu { @media (max-width: #{$menu-width + 1px}) {     
    @content;   
    } 
}   

    // surface pro 7
@mixin surface { @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$surface-width}) {     
    @content;   
   } 
} 
    //ipad air
// @mixin ipad { @media (min-width: #{$mobile-width+ 1px}) and (max-width: #{$ipad-width}) {     
//     @content;   
//     }  
// } 
    // mobile
@mixin mobile { @media(max-width: #{$mobile-width + 1px}) {     
    @content;   
    }  
} 

// css
:root {
    --text-white: #ffffff;
    --primary-background-color: linear-gradient(180deg, #37a1ff 0%, #1278d2 100%);
    --primary-color: #0065ff;
    --text-hover: #003b88;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #333;
}

button{
    border:none;
    outline: none !important;
   
    &:hover{
        outline: none !important;
    }

    &:focus{
        outline: none !important;
    }
}

////////////////////////////////////////////////////////////////////

/* SIM SỐ - CHỌN SỐ ONLINE */
.content_item3 {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    text-align: center;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px -33px 0px;
    transition: all 0.05s ease;

    &:hover,
    &.active{
        border: 2px solid #caecff;
        box-shadow: 0px 2px 10px rgba(2, 134, 255, 0.3);

        .content_item3-image{
            animation:none;
        }
    }
    @include laptop{
        width: 290px;
        height: 300px;
        margin: 60px auto;
    }

    @include surface{
        width: 290px;
        height: 300px;
        margin: 60px auto;
    }

    // @include ipad{
    //     width: 312px;
    //     height: 324px;
    //     margin: 52px auto;
    // }

    @include mobile{
        width: 335px;
        height: 328px;
        margin: 52px auto;
    }
}

.content_item3-image {
    position: absolute;
    width: 120px;
    height: 120px;
    top: -16%;
    right: 25%;
    animation: rotateLeftIcon 5s ease-in-out infinite;

    // @include ipad{
    //     right: 32%;
    // }

    @include mobile{
        right: 30%;
    }
}

@keyframes rotateLeftIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content_item3-tittle {
    margin: 80px 0 10px;
    color: #585858;
}

.content_item3-description {
    text-align: justify;
    width: 80%;
    font-size: 18px;

    // @include ipad{
    //     width: 68%;
    // }

    @include mobile{
        width: 75%;
    }
}

.primary {
    color: var(--primary-color);
}

.btn-more {
    height: 35px;
    width: 100px;
    margin: 8px auto;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    background-color: white;
    color: var(--primary-color);    
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    // @include ipad{
    //     height: 53px;
    //     width: 146px;
    //     font-size:18px;
    // }

    @include mobile{
        height: 53px;
        width: 188px;
        font-size:18px;
        margin-top: 36px;
    }
}
