// responsive
$fix-width: 1440px;
$menu-width: 1120px;
$laptop-width: 1400px;
$surface-width: 912px; 
// $ipad-width: 820px; 
$mobile-width: 720px; 

    //laptop
@mixin laptop { @media (min-width: #{$surface-width + 1px}) and (max-width: #{$laptop-width}) {     
    @content;   
    } 
} 

    // fix
@mixin fix { @media (min-width: #{$fix-width}) {     
    @content;   
    } 
} 


    //menu
@mixin menu { @media (max-width: #{$menu-width + 1px}) {     
    @content;   
    } 
}   

    // surface pro 7
@mixin surface { @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$surface-width}) {     
    @content;   
   } 
} 
    //ipad air
// @mixin ipad { @media (min-width: #{$mobile-width+ 1px}) and (max-width: #{$ipad-width}) {     
//     @content;   
//     }  
// } 
    // mobile
@mixin mobile { @media(max-width: #{$mobile-width + 1px}) {     
    @content;   
    }  
} 



/* slider */
.slider img {
    width: 100%;
    height: 100%;

    @include mobile{
        height: 160px;
    }
}

// Content
.container {
    width: 100%;
}


/* contact*/
.contact {
    width: 100%;
    height: 300px;
    position: relative;
    color: var(--text-white);
    padding: 60px 10%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &:before {
        content: "";
        display: block;
        height: 10px;
        position: absolute;
        width: 50%;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, #0065ff 0%, #166aeb 75.52%, #1062de 100%);
    }

    &:after {
        content: "";
        display: block;
        height: 10px;
        position: absolute;
        width: 50%;
        bottom: 0;
        right: 0;
        background: linear-gradient(
            0deg,
            #db0020 0.85%,
            #d40222 0.85%,
            #c70227 18.84%,
            #ce032e 28.58%,
            #dd0032 51.9%,
            #da052e 84.35%
        );
    }

    // @include ipad{
    //     padding: 48px 42px;
    // }

    @include mobile{
        padding: 24px 42px;
    }
    
}

.contact_img {
    position: absolute;
    top: 5px;
    right: 80px;

    @include surface{
        right: 0;
    }

    // @include ipad{
    //     right: 0;
    // }

    @include mobile{
        display: none;
    }
}

.contact_title {
    width: 60%;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;

    @include surface{
        width: 70%;
    }

    // @include ipad{
    //     width: 50%;
    // }

    @include mobile{
        width: 90%;
    }
}

.contact_description {
    width: 60%;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;

    @include laptop{
        width: 55%;
    }

    @include surface{
        width: 53%;
    }

    // @include ipad{
    //     width: 50%;
    // }

    @include mobile{
        width: 90%;
    }
}

.contact_btn {
    background: linear-gradient(
        0deg,
        #07bedf 0.85%,
        #08c9eb 17.93%,
        #03c2f5 97.28%
    );
    border-radius: 10px;
    color: var(--text-white);
    padding: 10px 32px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.35s;
    position: relative;
    z-index: 1;

    span {
        position: relative;
        font-weight: bold;
        z-index: 2;
    }

    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: white;
        transition: all 0.35s;
        border-radius: 10px;
        z-index: 0;
    }

    &:hover {
        color: #07bedf;

        &:after {
            width: 100%;
        }
    }
}

/* modal message, call */

.modal {
    width: 80px;
    position: fixed;
    bottom: 160px;
    right: 50px;
    z-index: 10;

    @include mobile{
        right: 10px;
    }
}

.modal_icon {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.85%);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    animation: shake 2s infinite;
    transform: translate(0, 0);

    &:after {
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 6px solid #00ffcb;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
    }

    img {
        width: 110%;
        height: 110%;
        position: absolute;
        top: 0;
        left: 0;
    }

    +.modal_icon {
        margin-top: 8px;
    }
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 90px;
        height: 90px;
        opacity: 0;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate(-1px, 0);
    }
    20%,
    80% {
        transform: translate(2px, 0);
    }
    30%,
    50%,
    70% {
        transform: translate(-4px, 0);
    }
    40%,
    60% {
        transform: translate(4px, 0);
    }
}

