
// responsive
$fix-width: 1440px;
$menu-width: 1120px;
$laptop-width: 1400px;
$surface-width: 912px; 
// $ipad-width: 820px; 
$mobile-width: 720px; 

    //laptop
@mixin laptop { @media (min-width: #{$surface-width + 1px}) and (max-width: #{$laptop-width}) {     
    @content;   
    } 
} 

    // fix
@mixin fix { @media (min-width: #{$fix-width}) {     
    @content;   
    } 
} 


    //menu
@mixin menu { @media (max-width: #{$menu-width + 1px}) {     
    @content;   
    } 
}   

    // surface pro 7
@mixin surface { @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$surface-width}) {     
    @content;   
   } 
} 
    //ipad air
// @mixin ipad { @media (min-width: #{$mobile-width+ 1px}) and (max-width: #{$ipad-width}) {     
//     @content;   
//     }  
// } 
    // mobile
@mixin mobile { @media(max-width: #{$mobile-width + 1px}) {     
    @content;   
    }  
} 


///////////////
.section-wrapper{
    margin-bottom: 20px;
    &.bg-gray{
        background-color: #f5f6f8;
    }
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include fix {
        width: 1440px;
        margin: 0 auto;
    }
}

.section-title {
    width: 100%;
    text-align: center;
    margin: 24px 0;
    h2 {
        font-size: 26px;
        line-height: 30px;
        color: var(--primary-color);
    }
    p {
        font-size: 16px;
    }
}

.section-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 15%;
    margin-bottom: 20px;
    flex-wrap: wrap;

    @include surface{
        padding: 0 8%;
    }

    // @include ipad{
    //     padding: 0 8%;
    //     flex-wrap: wrap;
    // }

    @include mobile{
        padding: 0 8%;
        flex-wrap: wrap;
    }
}


/////////////////////////////////////////////////////////////////

.section-option {
    margin: 12px 0;
    position: relative;
}

.section-option_btn {
    width: 70px;
    height: 70px;
    z-index: 4;
    position: absolute;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));

    &:hover {
        opacity: 0.8;
    }
}


.btn-left {
    top: 168px;
    left: 142px;
    object-fit: cover;

    @include surface{
        top:190px;
        left: 6%;
    }

    // @include ipad{
    //     top: 510%;
    //     left: 8%;
    // }

    @include mobile{
        top: 270px;
        left: 4%;
    }
}

.btn-right {
    top: 168px;
    right: 142px;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    @include surface{
        top:190px;
        right: 6%;
    }

    // @include ipad{
    //     top: 510%;
    //     right: 8%;
    // }

    @include mobile{
        top: 270px;
        right: 4%;
     }
}

.section-option-item {
    background-color: transparent;
    outline: none;
    padding: 8px 20px;
    margin: 0 10px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(97, 95, 95);
    border: none;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover,
    &.active{
        border-radius: 10px;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
}
