// responsive
$fix-width: 1440px;
$menu-width: 1120px;
$laptop-width: 1400px;
$surface-width: 912px; 
// $ipad-width: 820px; 
$mobile-width: 720px; 

    //laptop
@mixin laptop { @media (min-width: #{$surface-width + 1px}) and (max-width: #{$laptop-width}) {     
    @content;   
    } 
} 

    // fix
@mixin fix { @media (min-width: #{$fix-width}) {     
    @content;   
    } 
} 


    //menu
@mixin menu { @media (max-width: #{$menu-width + 1px}) {     
    @content;   
    } 
}   

    // surface pro 7
@mixin surface { @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$surface-width}) {     
    @content;   
   } 
} 
    //ipad air
// @mixin ipad { @media (min-width: #{$mobile-width+ 1px}) and (max-width: #{$ipad-width}) {     
//     @content;   
//     }  
// } 
    // mobile
@mixin mobile { @media(max-width: #{$mobile-width + 1px}) {     
    @content;   
    }  
} 

// css
:root {
    --text-white: #ffffff;
    --primary-background-color: linear-gradient(180deg, #37a1ff 0%, #1278d2 100%);
    --primary-color: #0065ff;
    --text-hover: #003b88;
    --color-grey:#cccccc;
    --color-black:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #333;
}

button{
    border:none;
    outline: none !important;
    &:hover{
        outline: none !important;
    }
    &:focus{
        outline: none !important;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding-top: 83px;
}
